# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Go specific
*.log
/vendor/
/backend/tmp/

# Vue.js
.DS_Store
node_modules
/frontend/dist
/frontend/dist-ssr
*.local
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.* 
.envrc
